.nav-main {
    height: 39px;
    padding-top: 0;
    background-image: none;
    background-color: #232f3e;
}

.nav-left {
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
}
.nav-packard-glow #nav-global-location-slot {
    float: left;
    padding: 0 0 0 10px;
    text-decoration: none;
    width: 209px;
    overflow: hidden;
}
